body {
  	background: var(--background);
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: bold;
	overflow-x: hidden;
	max-width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;
	padding-top: 60px;
}


/* #card-element{
	display: none;
} */

