.heading {
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading > p {
  margin: 0;
  margin-top: 10px;
  height: 4.6vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: 6.5vw;
}

.heading span {
  display: block;
  font-size: var(--heading);
  line-height: 5vw;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 77%);
  transform: rotate(7deg) translateX(1vw) translateY(10vw);
  transform-origin: left;
  white-space: nowrap;
}

.heading > p:after {
  content: '';
  width: 0%;
  display: block;
  height: 0.2vw;
  background: black;
  position: relative;
  top: -0.95vw;
  z-index: var(--zIndex_line);
}

@media screen and (max-width: 768px) {
  .heading > p {
    line-height: calc(var(--heading) + 2vw);
  }
}
